<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {{#if title}}
    <title>{{title}}</title>
    {{else}}
    <title>Default title.</title>
    {{/if}}
    <link rel="stylesheet" href="./css/home.css">
    <link rel="stylesheet" href="./css/newAccount.css">
    <link rel="stylesheet" href="./css/style.css">
    <script src="./javascript/home.js"></script>
    <script src="./javascript/verify-password.js"></script>
    <script src="./javascript/verify-username.js"></script>
</head>

<body>
    <header id="header">
        
    </header>

    <main>
        {{{body}}}
    </main>

    <footer id="footer">
        <p> &copy; Dazzling Ducks </p>
    </footer>
</body>

</html>
<!DOCTYPE html>