<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {{#if title}}
    <title>{{title}}</title>
    {{else}}
    <title>Default title.</title>
    {{/if}}
    {{!--
    <link rel="stylesheet" href="./css/home.css">
    <link rel="stylesheet" href="./css/newAccount.css"> --}}
    <link rel="stylesheet" href="./css/style.css">
    <script src="./javascript/home.js"></script>
    <script src="./javascript/verify-password.js"></script>
    <script src="./javascript/verify-username.js"></script>
    <script src="./javascript/photographers-client.js"></script>
     <script src="https://kit.fontawesome.com/3cd9bc84f9.js" crossorigin="anonymous"></script>
</head>

<body>
    <header id="header">
        <h2><a href="/" class="home">Dazzling Duck's <br><span class="logo">Photography</span></a></h2>
        <nav>
            <ul>
                <li><a href="/blog">Blog</a></li>
                <div class="dropdown">
                    <button class="dropdown-btn">
                        <li>Category</li>
                    </button>
                    <div class="dropdown-content">
                        <a href="/nature.html">Nature</a>
                        <a href="/portrait.html">Portrait</a>
                        <a href="/life.html">Life</a>
                    </div>
                </div>
                <li><a href="/search">Search</a></li>
                <li><a href="/photographers">Photographers</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>

    <footer id="footer" class="clear">
        <p> &copy; Dazzling Ducks </p>
    </footer>
</body>

</html>
<!DOCTYPE html>