<div class="tall">

    <button id="popup-button">Popup </button>
    <button id="close-button"> close</button>
   

    <div id="popup-window">
        <div id="header">
            <h1> Pick an avatars: </h1>      
        </div>

        <div id="display-div"> </div>
        <div id="flex-container">
            <div class="items-div">

                {{#each avatarListCompact}}
                <button id="{{name}}" class="avatar-button"><img class="no-click" src="{{src}}"></button>
                {{/each}}

            </div>
        </div>

    </div>
</div>
<div>
    {{#if toastMessage}}
    <p>{{toastMessage}}</p>
    {{/if}}
</div>