<div class="tall">
    <div>
        <div id="top-stuff">
            <h1> Avatars choice page: </h1>
        <button id="display-avatar" style="height: 30px">Display</button>
        <form action="./avatar" method="post">
        <label for="avatarNameinput">type in avatar name</label>
        <input type="text" name="avatarName" id="avatarNameinput">
        <button type="submit">submit</button>
        </form>
        <p id="message-place">Here</p>
        </div>
        
        <div id="display-div">     </div>
        <div class="flex-container">
            <div class="items-div">

                {{#each avatarListCompact}}
                <button id="{{name}}" class="avatar-button"><img class="no-click" src="{{src}}"></button>
                {{/each}}

            </div>
        </div>

    </div>
</div>
<div>
    {{#if toastMessage}}
<p>{{toastMessage}}</p>
{{/if}}
</div>