<div class="container">

    {{#if toastMessage}}
    <p> {{toastMessage}}</p>
    {{/if}}

    <form action="/submit-editArticle" method="post" enctype="multipart/form-data">

        <input type="hidden" name="articleId" value="{{article.articleId}}">

        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value= "{{article.title}}">
        <div class="category-container">
                <label><input type="radio" name="category" value="1">Nature</label>
                <label><input type="radio" name="category" value="2">Portrait</label>
                <label><input type="radio" name="category" value="3">Life</label>
            </div>

        <label for="content">Content:</label>
        <textarea id="editor-textarea" name="content" hidden></textarea>
        <div id="editor">
            {{{article.articleContent}}}
        </div>

        <label for="image">Upload Image: please upload image</label>
        <input type="file" id="image" name="image" accept=".png,.jpg,.jpeg,.bmp,.gif">
        
        <button type="submit">Submit</button>
        
    </form>

    
</div>
