<div id="edit_password"> 
    {{#if toastMessage}}
    <p> {{toastMessage}}</p>
    {{/if}}
    <form class="edit_form" action="./editPassword" method="post">
        <h1>Reset New Password</h1>
        <div class="edit_passwrdforme">

            <div class="edit_passwordbutton">
                <i class="fa fa-key" aria-hidden="true"></i>
                <input type="password" placeholder="New Password" name="password" id="txtPassword" required>
            </div>
            
            <div class="edit_passwordbutton">
                <i class="fa fa-key" aria-hidden="true"></i>
                <input type="password" placeholder="Confirm Password" name="confirmPassword" id="confirmPassword" required><span id="remind"></span>
            </div>
            
            <div class="edit_passwordbutton">

                <button class="button edit" id="editPassword">Confirm edit password</button>

            </div>
        </div>
    </form>
</div>
