{{!-- <h1>My stuff:</h1>
<ul>
    {{#each allTestData}}
    <li>{{this.stuff}}</li>
    {{/each}}
</ul>

<h1>A dragon:</h1>
<img src="./images/Dragonite.png"> --}}

<div class="home-content-container">
    <div class="left-content">
        <img src="./images/home-page.jpg" alt="Aspirant Photographer">
    </div>
    <div class="right-content">
        <h1>ASPIRANT PHOTOGRAPHERS</h1>
        <p>Photograph it | Blog it | Comment on it | Show it off</p>
        <div class="description">
            Are you a photographer and want to have a blog on a platform dedicated to 
            showcasing your photos to the best, and right audience?
        </div>
        <button id="create-account">CREATE ACCOUNT</button>
    </div>


</div>