
<div class="home-content-container">
    <div class="left-content">
        <img src="./images/home-page-cropped.jpg" alt="Aspirant Photographer">
    </div>
    <div class="right-content">
        <h1>ASPIRING PHOTOGRAPHERS</h1>
        <p>Photograph | Blog | Comment | Showcase</p>
        <div class="description">
            Are you a photographer who wants to have a blog on a platform that's dedicated to 
            showcasing your photos to the best, and right audience?
        </div>
        <button id="create-account">CREATE ACCOUNT</button>
    </div>
</div>