<div class="home-content-container">
    <div class="left-content">
        <img src="./images/home-page-cropped.jpg" alt="Aspirant Photographer">
    </div>

    <h1>ASPIRING PHOTOGRAPHERS</h1>
    <div class="description">
        <h4>Photograph | Blog | Comment </h4>
        <p>
            Are you a photographer who wants to have a blog on a platform that's dedicated to
            showcasing your photos to the best, and right audience?
        </p>
    </div>
    <button id="create-account">CREATE ACCOUNT</button>

</div>