<div class="container">
    <div class="short" style="margin: 20px 100px 50px 50px">
        <p> </p>
        <h1>Login</h1>
        <form action="./login" method="POST">

            <p><label for="idUserName"> Username </label>
                <input type="text" name="username" id="idUserName" required>
            </p>


            <p><label for="txtPassword">Password </label>
                <input type="password" name="password" id="txtPassword" required>
            </p>

            <button type="submit">Log in </button>
        </form>
           <p>Would you like to create an account <a href="./newAccount">Create new account</a></p>
        </div>
       
            {{#if toastMessage}}
            <p>{{toastMessage}}</p>
            {{/if}}
        </div>