<div class="container">
    <div class="short">
        <p> </p>
        <h1>Your Page & Articles</h1>
    <div class="article">

    </div>


<p>Click <a href="./logout">here</a> to log out.</p>
    </div>

    {{#if toastMessage}}
    <p>{{toastMessage}}</p>
    {{/if}}
</div>

