#popup-window{
    background-color: hsl(60, 15%, 97%);
    position: fixed;
    width: 90%;
    height: 90%;
    /* border: green solid 1px; */
    padding: 10px;
    margin: auto;
    top: 105px;
    left: 75px;
    z-index: 10px;
    display: block;
    box-shadow: 10px 10px 10px hsl(60, 5%, 50%);
}

#header{
    margin: 10px 20px;
}

#flex-container {
    margin: 0 20px;
    box-sizing: border-box;
    display: flex;
    border: lightgrey solid 1px;
}

.items-div {
    background-color: hsl(77, 3%, 90%);
    gap: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 30px;
}

.avatar-button {
    border: linen solid 1px;
    background-color:  hsl(60, 15%, 97%);;
}

.avatar-button img {
    height: 150px;


}

.no-click {pointer-events: none;}
