/* ------------------Login Page ----------------------------- */
#login-container {
    border-top: 2px solid var(--light);
    max-width: 1500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-image: url("/images/tree_from_above.jpg");
    height: 900px; 
    background-color: #cccccc; 
    /* background-position: center;  */
    background-size: cover;    
}


#login-div {
    width: 500px;
    background-color: rgba(245, 245, 245, 0.75);
    padding: 30px 30px 50px 50px;
}


#login-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}


