/* ------------------Login Page ----------------------------- */
#login-container {
    border-top: 2px solid var(--light);
    max-width: 1500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-image: url("/images/tree_from_above.jpg");
    height: 900px; 
    background-color: #cccccc; 
    /* background-position: center;  */
    background-size: cover;    
}


#edit-div {
    width: 500px;
    background-color: whitesmoke;
    padding: 30px 30px 50px 50px;
}


#login-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* ------------------Edit Page ----------------------------- */

#edit-container {
    border-top: 2px solid var(--light);
    max-width: 1500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 900px; 
    background-color: #cccccc; 
    /* background-position: center;  */
    background-size: cover;    
    background-image: url("/images/change_ahead.jpg");

}

#edit-box {
    position: relative;
    left: 20vw;
    width: 600px;
    background-color: whitesmoke;
    padding: 30px 30px 50px 50px;
}


.edit-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#avatar-image{
    margin: 20px 0 10px;
    height: 120px;
}

.toast{
    margin: 20px 0;
}

.button-submit {

    display: inline-block;
    background-color: var(--dark);
    color: var(--pale);
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

/* .add-article-form button[type="submit"]:hover {
    background-color: #0056b3;
} */