/* ------------------Login Page ----------------------------- */
#login-container {
    border-top: 2px solid var(--light);
    max-width: 1500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-image: url("/images/tree_from_above.jpg");
    height: 900px; 
    background-color: #cccccc; 
    /* background-position: center;  */
    background-size: cover;    
}


#login-div {
    width: 500px;
    height: 550px;
    background-color: rgba(245, 245, 245);
    padding: 0px 30px;
    /* border: pink solid 1px; */
}

#login-form-div {
    height: 250px;
    padding: 15px;
    gap: 20px;
    /* border: red solid 1px; */
}


#login-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 20px 0;
}

.login-ipt{
    width: 100%;
    padding: 15px;
    margin: 20px 0;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}

#login-toast{
    padding: 20px 2px;
}

/* ------------------Edit Page ----------------------------- */

#edit-container {
    border-top: 2px solid var(--light);
    max-width: 1500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    /* height: 700px;  */
    background-color: #cccccc; 
    /* background-position: center;  */
    left: 100px;
    background-size: cover;    
    background-image: url("/images/colour_finger.jpg");
    

}

#edit-box {
    position: relative;
    right: 25vw;
    width: 600px;
    background-color: rgba(245, 245, 245, 0.5);
    padding: 30px 30px 50px 50px;
}


.edit-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#avatar-image{
    margin: 20px 0 10px;
    height: 120px;
}

.toast{
    margin: 20px 0;
}

.button-submit {

    display: inline-block;
    background-color: var(--dark);
    color: var(--pale);
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

/* .add-article-form button[type="submit"]:hover {
    background-color: #0056b3;
} */