body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    
}
#register-box{
    display:flex;
    margin: 50px auto;
    align-items: center;
    justify-content: center;
    height:100vh;
    width:100%;
    /* overflow:hidden; */
}
.left{
    flex:0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* overflow: hidden; */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    min-width: 300px;

}
.left img{
    max-width: 100%;
    margin:0;
    height:auto;
    
}
.form-div{
    flex:1;
    max-width: 500px;
    height:auto;
    /* margin: 50px auto; */
    margin-top:100px auto;
    background-color: #ffffff;
    padding: 40px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    
}
.form-div h3{
    font-size: 1.8em;
    margin-bottom: 20px;
    text-align: center;

}
.form-div p{
    color: #888;
    margin-bottom: 20px;
    text-align: center;

}
.form-div label{
    display: block;
    font-weight: bold;
    margin-top: 20px;
}
.ipt{
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}
button:disabled{
    background-color: #cccccc; 
    color: #888888;          
    cursor: not-allowed;      
}



