@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Spectral:wght@600&display=swap');


:root {
    /* main colours */
    --pale: #fffffe;
    --light: rgb(223, 225, 218);
    --medium: rgb(136, 150, 150);
    --dark: rgb(18, 16, 14);
}

/* Shared */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 100%;
}

body {
    color: var(--dark);
    font-family: 'Montserrat', sans-serif;
}

nav a, 
h3, form label,
.logo, .dropdown-btn, .login-btn, #header, .btn, #submit-account, #popup-button {
    text-transform: uppercase;
    font-family: 'Spectral', serif;
    font-size: 16px;
    color: var(--medium);
}
/* --- nav bottom border */
.container, .photographers-container, .full-article-container {
border-top: 2px solid var(--light);
}

.photographers-container .container{
    border: none;
}
/*------------------------------ HEADER ------------------------------*/

/*--1. Logo- Dazzling Duck's Photography --*/

.header>h2 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    font-size: 24px;
    text-transform: none;
}
.home {
    text-decoration: none;
    color: var(--dark);
}
/* #header>h3 {
    font-size: 14px;
} */
/*-- Navigation --*/

.header {
    padding-right: 50px;
    padding-left: 90px;
    display: flex;
    align-items: center;
    height: 85px;
}

nav ul li {
    display: inline-block;
}

nav li {
    margin: 40px;
}

nav {
    margin-left: auto;
}

nav a {
    text-decoration: none;
}

/* Hoverable dropdown menu  */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--pale);
    min-width: 170px;
    z-index: 1;
    /* border-radius: 14px; */
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-btn, .login-btn {
    background-color: var(--pale);
    height: 80px;
    border: var(--pale);
}
a:hover, .dropdown-btn:hover, .login-btn:hover{
    color: #B8BDB5;
}

#nav-avatar{
    height: 30px;
    margin:  5px 20px 0;
}
/*------------------------------ Home ------------------------------*/

.home-content-container {
    /* max-width: 1200px; */
    /* margin: auto; */
    display: flex;
    gap: 50px;
    padding-right: 80px;
}

.home-content-container .left-content img{
    max-width: 100%;
    display: block;
}

.home-content-container .right-content {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-right: 20px;
}

.home-content-container h1 {
    margin: 0;
    font-size: 2em;
    text-transform: uppercase;
    /* font-family: 'Merriweather',serif; */
}

.home-content-container .description {
    color: gray;
}

.home-content-container button {
    background-color: var(--dark);
    color: var(--pale);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.home-content-container button:hover {
    background-color: #555;
}

/*------------------------------ new account ------------------------------*/

#register-box-container{
    background-image: url("/images/newAccount-image.jpg"); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.image-account-overlay{
    padding: 40px;
    background-color:rgb(255, 255, 255, 0.3);
} 
.form-div{
    margin:100px auto;
    background-color: var(--pale);
    padding: 40px;
    border-radius: 8px;
    width: 60%; 
}
.form-div span {
    color: var(--dark);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: none;
    font-weight: 100;
    line-height: 1;
}
.left, .form-div {
    box-shadow: 0px 0px 15px var(--shadow);
}
.left{
    flex:0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 8px;
    min-width: 300px;
}

.left img{
    max-width: 100%;
    margin:0;
    height:auto;  
}

.form-div h3{
    font-size: 1.8em;
    margin-bottom: 20px;
    text-align: center;
}

.form-div p{
    margin-bottom: 20px;
    text-align: center;

}
.form-div label{
    display: block;
    font-weight: bold;
    margin-top: 20px;
}

.ipt {
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    border: 1px solid var(--light);
    border-radius: 4px;
    color: var(--dark);
    font-family: 'Montserrat', sans-serif;
}

.avatar-submit-container{
    display: flex;
    padding-top: 30px;
    align-content: center;
}

.avatar {
    display: flex;
    gap: 20px;
}

#popup-button, #submit-account {
    width: 230px;
    border-radius: 8px;
    height: 50px;
    box-shadow: 1px 1px 2px 1px rgb(18, 16, 14, 0.4);
}

.avatar-submit-container #submit-account{
    margin-left: auto;
    border: none;
}

button:disabled{
    cursor: not-allowed;      
}
/*------------------------------ Your Page ------------------------------*/
.your-page-container {
    background-image: url("/images/beach.jpg"); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
} 

.image-overlay {
    padding: 40px;
    height: 870px;
    background-color:rgb(255, 255, 255, 0.3);
}
.page-title {
    font-size: 1.8em;
    padding-top: 0;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.6); 
    padding-top: 20px;
    letter-spacing: 2px;
    text-align: center;
}

.your-page-container h1, .welcome{
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.6); 
     padding: 20px;
     color: var(--dark);
     letter-spacing: 2px;
     text-align: center;
}

.add-article-form {
    margin: 15px 25px 25px 25px;
    background-color: var(--pale);
    border-radius: 14px;
    width: 70%;
    margin: auto;
    padding: 30px;
    box-shadow: 4px 4px 4px 4px rgb(18, 16, 14, 0.4);
}

.your-page-container>p, .your-page-container>h2 {
    text-align: center;
}

.radiobox-categories{
    padding: 15px 0;
}  

.your-page-container h3 {
    /* padding: 20px 0px 5px 0px; */
    align-self: center;
}

.add-article-form label  {
    display: block;
    padding: 10px 0;
}

.your-page-container .container {
    border: none;
}

.category-container {
    display: flex;
    gap: 50px;
}

.category-container>label{
    color: var(--dark);
    font-family: 'Montserrat', sans-serif;
    text-transform: none;
    padding-right: 40px;
}

.category-container input {
    margin: 15px 10px 0 0;
}

.add-article-form input[type="text"], 
.add-article-form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid rgb(136, 150, 150, 0.3);
    border-radius: 8px;
    font-size: 14px;
    }

.add-article-form input[type="text"] {
    box-shadow: none;
}

.add-article-form input[type="file"] {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid rgb(136, 150, 150, 0.3);
    border-radius: 8px;
    border: 1px solid #0056b3;
    box-shadow: 1px 1px 2px var(--medium);
}

.add-article-form button[type="submit"] {
    display: inline-block;
    background-color: var(--dark);
    color: var(--pale);
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.add-article-form button[type="submit"]:hover {
    background-color: #0056b3;
}

#editor {
    min-height: 200px;
    font-size: 14px;
}

.ql-toolbar {
    border: 1px solid rgb(136, 150, 150, 0.3);
    border-radius: 8px 8px 0 0;
    box-shadow: 1px 1px 2px rgb(136, 150, 150, 0.3);
    background-color: rgb(136, 150, 150, 0.1);
}

.ql-container {
    border-top: none;
    border-radius: 0 0 8px 8px;
}
.ql-editor {
    background-color: var(--pale );
}
.your-page-container .container {
   height: 100vh;
}

.empty-space{
    background-color: var(--pale);
}

.buttons {
    display: flex;
    align-items: center;
    gap: 7px;
}

.buttons>button {
    width: 160px;
}

/*------------------------------ Blog ------------------------------*/
.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-auto-rows: 7rem;
    grid-gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 25px;
    background-color: var(--pale);
}

.card-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 20px 10px;
    background-color: var(--pale);
} 

 .short {
    grid-row: span 5;
}
      
.medium {
    grid-row: span 7;
}

.tall {
    grid-row: span 7;
}

.tallest {
    grid-row: span 9;
}

/* --cards */
.card-container .card-images {
    border-radius: 14px 14px 0px 0px;
}

.card-container h2,
.card-container h3,
.card-container p {
    padding: 5px;
}

#article p {
    --max-lines: 6;
    --line-height: 1.4;
    height: calc(var(--max-lines) * 1em * var(--line-height));
    line-height: var(--line-height);
    overflow: hidden;
    position: relative;
    text-align: justify;
}
#article p::before {
    content: "";
    position: absolute;
    height: calc(2em * var(--line-height));
    width: 100%;
    bottom: 0;
    pointer-events: none;
    background: linear-gradient(to bottom, transparent, var(--pale));
}

.card-container h2 {
    font-size: 24px
}

.btn {
    text-transform: capitalize;
    letter-spacing: 2px;
    box-shadow: 1px 1px 1px;
    padding: 5px 10px;
    border: none;
    text-align: start;
    width: 130px;
    text-align: center;
} 
/* --- avatar/author/comment container --- */
.flavicon-container{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0 40px 0;
    border-bottom: 3px solid var(--light);
}

.author {
    padding-right: 10px;
}

a {
    text-decoration: none;
    color: var(--dark);
}
.flavicon-comment {
    width: 15px;
    height: 17px;
}

/* -----------------------------Full article ------------------------ */
 .full-article-container {

    max-width: 1300px;
    margin: 60px auto;
}

.full-article-container p {
    text-align: justify;
    font-size: 18px;
  
}

.heading {
    font-size: 24px;
    padding: 35px 0 35px 0;
}

.full-article-container .flavicon-container {
    border: none;
}

.written {
    font-size: 14px;
    padding-right: 7px;
}

.full-image {
    float: right;
    width: 50%;
    margin: 40px;
    border-radius: 8px;
    box-shadow: 8px 8px 8px 1px var(--medium);
}

/* .full-article-container .btn {
    
} */
.blog-button{
margin-left: auto;
padding-right: 20px;

}
 /*------------------------------ Photographer ------------------------------*/
 .photographer-container{
   display: flex;
   width: 1300px;
   margin: auto;
   /* box-shadow: 1px 1px 4px 1px ; */
  }
 .photographer-heading {
    text-align: center;
    color: var(--medium);
    font-size:  30px;
    padding: 30px 0;
   
 }
 .contact-icons ul{
    padding: 20px;
   list-style-type: none;
 }
 
 .contact-icons li, i{
    padding: 10px;
 }
 .contact-icons i {
    padding: 0, 15px;
 }
 
 .article-container {
    width: 60%;
    text-align: start;
    margin: auto;
    padding: 30px;
    border-left: 2px solid var(--light);
    line-height: 1.6;
 }
.article-container>p {
    padding-left: 50px;
}

/*------------------------------ Footer ------------------------------*/
#footer {
      height: 200px;
    text-align: right;
    background: rgb(136, 150, 150, 0.3);
}
.clear {
     clear: right;
}
#footer>p {
    padding-top: 28px;
    padding-right: 86px;
}
